*.pyc
__pycache__/

*.log
local_settings.py

db.sqlite3

media/

.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.coverage
.tox/
.eggs/
htmlcov/
build/
dist/
*.egg-info/
.cache
.pytest_cache/

.DS_Store
Thumbs.db
